{% extends 'base.html' %}
{% block content %}

<!-- Форма создания новой новости -->
<form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit"> Создать новость </button>
</form>


<ul>

<!-- Все новости -->

    {% for new in news %}
<b>	<a class="navbar-item" href="/news/{{new.id}}"> {{ new.name }} <a></b> <br>
   {{ new.new_text}}<br>
   {{ new.date_of_create}}<br>
   {{ new.autor}}<br>
    
    ------------------------------<p>
{% endfor %}
    </ul>

{% endblock %}