{% extends 'base.html' %}
{% block content %}


<b>{{ new.name }}</b> <br>
   {{ new.new_text}}<br>
   {{ new.date_of_create}}<br>
   {{ new.autor}}<br><br>

<!-- Дерево комментариев
    в работе библиотека mptt -->
{% load mptt_tags %}
<ul>
    
    {% recursetree comments %}
        
        <li>
            <!-- Создаем список из деревьев
                **магия mptt** -->
            {{ node.comment_text }}
            
            <font color="gray">
            [{{node.comment_autor}}]
            </font>
            <!-- Кнопка с классом btn -->
            <button class="btn" id="btn--{{node.id}}" type="button">
                Ответить
            </button>

            <!-- Класс скрытой формы, которая открывается
                 при нажатие на кнопку Ответить class = btn -->
            <div class="content" id="content--{{node.id}}">
            
            <b>Ответ на комментарий:</b> <br>
            <i>{{node}}</i>
                
                <form  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form.comment_text }}
                    <!-- Два дополнительных скрытых поля, которые берутся 
                        из комментария на который дает ответ -->
                    <input id="id_new" type="hidden" name="new" value={{new.id}} /></p>
                    <input id="id_parent" type="hidden" name="parent" value={{node.id}} /></p>
                
                    <button type="submit"> Отправить </button>
                 </form>
            
            </div>

            <style type="text/css">
                  
                  .content {
                    display: none;
                  }

                  .content--visible {
                      display: block;
                  }
                                    
            </style>
          
            
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                    
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}

    <!-- Скрипт управления кнопкой -->
    <script>
        const buttons = document.querySelectorAll(".btn")
        
        console.log(buttons);
        
        buttons.forEach((button) => button.addEventListener("click", btnClick));

        function btnClick(e) {
            console.log(e.target.id);
            
            const buttonId = e.target.id.split("--")[1]
            const content = document.querySelector(`#content--${buttonId}`)
            content.classList.toggle("content--visible")
            
            console.log(content);
            
        }
    </script>
</ul>
   
<!-- Создать комментарий к статье, 
    не к другому комментарию   -->

   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ comment_form.comment_text }}


    <input id="id_new" type="hidden" name="new" value={{new.id}} /></p>
    <button type="submit"> Комментарий </button>
 </form>

{% endblock %}